@media screen and (max-width: 600px){
    /*About*/
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            padding-top: 1.25rem;
            grid-template-columns: 1fr;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }
    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .blogs{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left:0;
            margin-top:1.75rem;
        }
    }

    .contact-content-con .right-contact .input-control-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .input-control-2 :last-child{
        margin-top: 0.75rem;
        margin-left: 0;
    }
    .section{
        padding: 1rem 1.25rem!important;
    }

    .main-title{
        h2{
            font-size: 1.5rem;
            span{
                font-size: 2rem;
            }
            .bg-text{
                font-size: 2.5rem;
            }
        }
    }

}
@media screen and (max-width: 1432px){
    .header{
        padding:0!important;
    }
    .section{
        padding:3.5rem 5.5rem!important;
    }
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left:0;
            margin-top:1.75rem;
        }
    }

    .contact-content-con .right-contact .input-control-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .input-control-2 :last-child{
        margin-top: 0.75rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 1070px){
    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            padding-top: 2.25rem;
            //grid-template-columns: 1fr;
        }
    }
    .portfolios{
        grid-template-columns: 1fr 1fr;
    }
    .blogs{
        grid-template-columns: 1fr 1fr;
    }
    .main-title{
        h2{
            font-size: 4rem;
            span{
                font-size: 4rem;
            }
            .bg-text{
                font-size: 4.5rem;
            }
        }
    }
}

@media screen and (max-width: 970px){
    /*Home*/
    header{
        padding: 0;
        //min-height:100vh;
        //height:0;
    }
    header .right-header{
        padding: 1rem!important;
    }
    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 3rem;
    }
    .left-header{
        .h-shape{
            display: none;
        }
    }
    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        justify-content: flex-start!important;
        .name{
            font-size: 2.5rem!important;
        }
        p{
            font-size: 1.5rem!important;
        }
    }
    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }
    .theme-btn{
        width: 40px;
        height: 40px
    }
    
    .section{
        padding: 7rem 6rem !important;
    }
    .controlls{
        display: flex;
        left:50%;
        transform: translateX(-50%);
        top:auto;
        flex-direction: row;
        bottom: 0;
        width: 100%;
        background-color: var(--color-grey-5);
        .control{
            margin: 0.5rem 0.3rem;
        }
    }
}
@media screen and (max-width: 700px){
    .section{
        padding: 7rem 3rem !important;
    }
    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }
}